/*jB for PressPass*/

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {font-family: Arial, sans-serif; font-size: 13px;} /* Looks nicer than 14px and is still big enough */
.container, .container-fluid {max-width: 940px;margin: 0 auto;padding: 0 2.5em;}

/*CONTENTS*/

ul {list-style: none;}
.clearboth {margin: 0;padding: 0;clear: both;}
.btn {font-size: 1em;}


/*for wireframing only*/
.documentation{}
.documentation article{border-width: 1px;border-style: solid;padding: 1em;}
.documentation.doc-intro article, .doc-key article {border: none;padding: 0;}
.doc-key {border: 1px solid #000; padding: 1em;}
.documentation p{}
.documentation ul{list-style: disc;}
.documentation .style-guide {border-color : blue;}
.documentation .style-guide h4{color: blue;}
.documentation .interaction-description {}
.documentation .interaction-description h4{color: orange}
.documentation .decision-basis {}
.documentation .decision-basis h4{color: green;}


/*end wireframing*/

.fancy {font-size: 1.5em;}

.fancy label *::selection {opacity: 0;}
.fancy input[type="radio"],
.fancy input[type="checkbox"] {
  display:none;
}

.fancy input[type="radio"] + span:before,
.fancy input[type="checkbox"] + span:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fancy input[type="radio"] + span:before {
  content: " "; /* record */
  color: #000;
  border:3px solid #000;
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

.fancy input[type="radio"]:checked + span:before {
  content: "\e165"; /* ok-circle */
  color: black;
  border: none;
}

.fancy input[type="checkbox"] + span:before {
  /*content: "\e157";*/ /* unchecked */
  /*content: "\e157 ";
  color: black;*/
  content: " "; /* record */
  color: #000;
  border:3px solid #000;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  
}

.fancy input[type="checkbox"]:checked + span:before {
  content: "\e089"; /* check */
  border: none;
}




h1,h2,h3,h4,h5{font-weight: normal;}
h1{font-size: 2em;}
.breadcrumb h1{display: inline-block;font-size: 1em;margin:0;padding:0;color: #000;font-weight: bold; letter-spacing: .0125em;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em; text-transform: uppercase;}
h5{font-size: 1.2em;}
h6{font-size: 1em;font-weight: bold}
h6.presspass-alert-danger {background: red;color:#fff;font-weight: normal;margin-bottom: 2em;}

/* consider overwriting bootstrap's cheezy box shadow on focus*/
input {color: #000;}
label {background: #fff;font-size: .8em;color: #a0a0a0;text-transform: uppercase;}
.radios label, .checkboxes label {color: #000; margin-bottom: .33em;text-transform: none;font-size: 1em;}

/*input + label {float: left;margin-top: -.8em;background: #fff;font-size: .8em;color: #a0a0a0;text-transform: uppercase;}*/
input[readonly] + label {float: left;margin-top: -4.33em;background: #eee;color: #aaa;}
input[readonly] {color: #999;}

textarea {resize:none; width: 100%;}
label{font-weight: normal;}
label.checkbox{font-weight: normal;}
/*label.spacesaver {position:relative; top:.75em;background: #fff; font-size: .8em;color: #a0a0a0;text-transform: uppercase;z-index: 3;}*/



.breadcrumb {margin: 4em 0 2em 7.5%;background: transparent;text-transform: uppercase; font-size: .9em;}
.vertical-form label{display: block;}

.horz-form-float {padding-top: 1em;overflow: hidden;}
.horz-form-float .form-control, .search-row .form-control {float: left;margin:0 1% 2em 1%;}
.form-control.third-field, .third-field {width: 31.33%;}
.form-control.quarter-field {width: 23%;}
.form-control.fifth-field {width: 18%;}
.form-control.sixth-field {width: 14.666%;}
.form-control.eighth-field {width: 10.5%;}
.form-control.half-field, .half-field {width:48%;}
.form-control.two-thirds-field {width:64.666%;}
.form-control.three-quarters-field {width:73%;}
.form-control.full-field {width:98%;}
.horz-form-float .form-control + label, .tooltip + label, .text-area label, .drag-drop-area label {float: left;margin-top: -.8em;}
.char-counter{float: left;margin-top: -.8em;background: #fff;font-size: .8em;color: #a0a0a0;text-transform: uppercase;}
.horz-form-float .form-control.third-field + label, .form-control.third-field + .tooltip + label {margin-left: -32.33%;}
.horz-form-float .form-control.quarter-field + label, .form-control.quarter-field + .tooltip + label {margin-left: -24%;}
.horz-form-float .form-control.fifth-field + label, .form-control.fifth-field + .tooltip + label {margin-left: -19%;}
.horz-form-float .form-control.sixth-field + label, .form-control.sixth-field + .tooltip + label {margin-left: -15.666%;}
.horz-form-float .form-control.eighth-field + label, .form-control.eighth-field + .tooltip + label {margin-left: -11.5%;}
.horz-form-float .form-control.half-field + label, .form-control.half-field + .tooltip + label {margin-left: -49%;}
.horz-form-float .form-control.two-thirds-field + label, .form-control.two-thirds-field + .tooltip + label {margin-left: -65.666%;}
.horz-form-float .form-control.full-field + label, .form-control.full-field + .tooltip + label {margin-left: -99%;}

.text-area label {margin-bottom: -.8em;}
.drag-drop-area label {margin-top: 0; padding: .5em .5em .5em 0;float:none;}
.drag-drop-area .drag-drop-directions {position: relative;top:2.125em;}
.btn-browse {padding: .125em 1em; border-radius: 0;}
.draggable-box-inner {min-height: 25em;padding: 1em;border-radius: .5em;background:#ddd;}
.text-area .char-counter, .has-char-counter .char-counter {float:right;}
.has-char-counter label {margin-bottom: -.8em;}
.has-char-counter span {float:right;}
.has-char-counter .char-counter {margin-top: -.25em;}

.drag-drop-area .lower-directions {float: right;margin-top: -1em;background: #fff;font-size: .8em;text-transform: uppercase;font-weight: bold;}

.text-area strong, .drag-drop-area strong, .char-counter strong{font-style: normal;color: #000;}
.drag-drop-area{margin-bottom: 3em;}
.horz-form-float:after {display: table;float: none; clear:both;}
.helper-tip:after {content: url(../img/helper-tip.svg); display: inline-block;width: 10px; position: relative;left:.33em;}

fieldset.full-width {width: 100%;}
fieldset.vertical-checkboxes, fieldset.vertical-radios {margin-right: 2em;vertical-align: top;}
input.error + label.helper-tip:after {content:'';}
fieldset.vertical-checkboxes legend.legend-presspass, fieldset.vertical-radios legend.legend-presspass {max-width: 15em;}
legend.legend-presspass {border: none;font-size: .9em; color: #aaa; text-transform: uppercase;margin: 0 0 .5em 0;padding: 0;}
fieldset {margin-bottom: 1em;display: inline-block;}
fieldset.error legend {color: red; font-weight: bold;}
fieldset.vertical-checkboxes, fieldset.vertical-radios {margin-right: 1em;padding-left: .1em;padding-right: 1em;}
fieldset.vertical-checkboxes input, fieldset.vertical-radios input{float:left;clear: left;}
fieldset.vertical-checkboxes label,fieldset.vertical-radios label {display: block; padding-left: 1.5em;}
fieldset.vertical-checkboxes label:after, fieldset.vertical-radios label:after{float:none;clear:both;display: table;}
fieldset.horizontal-checkboxes label, fieldset.horizontal-radios label {display: inline-block;}
fieldset.horizontal-checkboxes, fieldset.horizontal-radios {margin-right: 3em;}
fieldset.horizontal-radios .radio-inline, fieldset.horizontal-checkboxes .checkbox-inline {padding-left: .25em;margin-right: 1em;}
fieldset.text-area{display: block;}
fieldset.text-area.wysiwyg-area textarea{min-height:25em;}

.search-row {padding-top:1em;}
.search-row .btn-add {float: right;}
.search-row .btn-add:after {float: none;clear: both;}
.search-row:after {float: none;clear: both;}
.search-row-main:after {float: none;clear: both;}

a.advanced {font-size: .9em;}
.collapse-advanced {width: 58%;margin:0 1%;}
.collapse-advanced .panel-heading {padding: 0;}
.collapse-advanced .panel-heading h4{font-size: .8em;text-transform: uppercase;color:#aaa;}
.panel-group.collapse-advanced .panel-collapse .panel-body {border-radius: .33em; background: #f9f9f9;border:1px solid #eee;border-top: none; padding: 2em;}

.main{position:relative;padding: 1.5em 3em;}/*this is styled w/ position relative in order for the page wipe to look right*/
.row{margin: 0 0 .5em 0;}

/* Tabs */
.tab-content{padding: 1em; border:1px solid #ccc; border-top:none }

/* LOGIN */
.login-header-image {width: 200px;margin-bottom: 2em;}
.presspass-login-form {max-width: 20em;margin: 0 auto;padding: 2em;border: 1px solid #ccc;}
.btn-login {float: right;}
.btn-login:after{float: none; clear: both;}
.password-reset-link {padding-top: 2.5em;font-size: .875em;}
.remember-me-action {display: inline-block; padding-top: .5em; font-size: .875em;}
.presspass-login-form label {font-weight: normal;}

.global-options{display:inline-block;border-left: 1px solid #000;}

.site-changer {display: inline-block;border-right: 1px solid #000;}
.site-changer img {height: 1em;}

/* scope these to a class */
/*Nav  */
/*.navbar {min-height: 0;}*//*Bootstrap override to save space*/
/*.navbar-toggle {float:none;position: absolute;top: 0; right:1em;}*//*Bootstrap override to prevent ul crashing*/
/*.navbar-collapse{max-height: 100%;}*/
/*Bootstrap override to extend mobile menu on mobile*/
/*.navbar-nav>li>a{padding-top:.5em;padding-bottom:.5em;}*/


/* ADDS MULTILEVEL DROPDOWNS TO BOOTSTRAP*/
/*from http://www.bootply.com/xaWDh59GR5*/
/*.dropdown-submenu {position: relative;}
.dropdown-submenu .dropdown-menu {top: 0;left: 100%;margin-top: -6px;border-radius: 0 6px 6px 6px;}
.dropdown-submenu:hover {background: #e2e1e1;}
.dropdown-submenu:hover > a:after {border-left-color: #ffffff;}
.dropdown-submenu > a:after {display: block;content: " ";float: right;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px 0 5px 5px;border-left-color: #cccccc;margin-top: 5px;margin-right: -10px;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu.pull-left > .dropdown-menu {left: -100%;margin-left: 10px;border-radius: 6px 0 6px 6px;}*/
/*END MULTILEVEL NAV */

/*overriding bootstrap*/
/*.page-header {border-bottom: none;margin:3em 0 2em 1em; padding-bottom: 0;}*/

/*Global Nav */
/*
.presspass-logo-container{position: fixed; top: 0; left: 0;z-index: 99;padding: 0 .25em .25em 0; margin: 0; width: 2.5em;}
.presspass-logo-image{width: 100%;}

figure.nav-icon {display: inline-block;width: 2em;padding: 0;margin: 0;}
figure.nav-icon img {display: inline-block;max-width: 100%;padding: 0;margin: 0;}

.action-icons {width: 1em;}

.navbar-image {width: 2em;display: inline-block;padding: 0; margin: 0;}
.navbar-avatar {position: fixed;top: 0; right: 0; background:#fff;z-index: 9;}
.navbar-image img {max-width: 100%;}

.global-navigation-list:after{float: none;clear: both;}
.dropdown-menu.has-actions> li >a{display: inline-block;width:80%;}
.dropdown-menu.has-actions> li >a.edit-menu-item, .dropdown-menu.has-actions> li >a.add-menu-item{display: inline-block;width:10%;padding: 0;margin:0;}
.dropdown-menu.has-actions> li >a.add-menu-item {float:right;}

.dropdown-menu {font-size: inherit;} */ /*bootstrap override of hard-coded font-size*/
/*.divider:after{float: none;clear:both;}*/
aside.sidenav{width: 10em; height: 100%; position: fixed; top: 0; left: 0; padding: 2em 0 0 0; margin: 0 0 0 -8.5em; color: #1b2f56; font-weight: bold; opacity: 1;background: #eee; transition: all .5s;z-index: 9;}
aside.sidenav .shortcuts-label{color: #777; -webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);margin: 4em -2em 0 5em;padding: 0;transition: all .5s;}
aside.sidenav ul.shortcuts-list {margin: 2em 0 0 0; padding: 0;}
aside.sidenav:hover{margin-left: 0;z-index: 99;}
aside.sidenav:hover .shortcuts-label{transform: rotate(0deg);-webkit-transform:rotate(0deg);margin-left: 2em;}
aside.sidenav.open{margin-left: 0;}
aside.sidenav ul.shortcuts-list li{ width: 100%; margin: 1em 0;padding: 0; font-size: .8em;}
aside.sidenav ul.shortcuts-list li a {display: block;background: #ccc; padding: .5em; border-radius: 3px; width: 80%;margin: 0 15% 0 5%;cursor: pointer;transition: all .5s;}
aside.sidenav ul.shortcuts-list li a:hover{background: #bbb;}

/* Asset Picker */
aside.asset-picker {position: fixed;top:0;right:0;bottom: 0;width:28em;height:100%;background: #eee;transition: all .5s;margin: 0 -27em 0 0;}
aside.asset-picker:hover{margin-right:0;}
aside.asset-picker .asset-picker-title{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);transition: all .5s;}
aside.asset-picker:hover .asset-picker-title{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);margin-left: 0;}
aside.asset-picker .asset-search-and-results-holder {}
aside.asset-picker .asset-search-results-holder {overflow-y: scroll;height: 100%;}
aside.asset-picker{padding-bottom: 10em;}

/*action bar*/
.save-cancel-bar {margin: 0 1em 1em 1em; padding: 1em 0; border-top: 1px solid #ccc;padding-top:1em;overflow: hidden;}
.save-cancel-bar:after {float: none;clear:both;}
.profile-save {margin-left:1.5em; padding-left: 1.5em; padding-right: 1.5em;float:right;}
.profile-cancel {float: right;}

/* Select widget*/
.select-inline {width: 100%;}
select.form-control {width: auto;font-size: .9em;} /* overrides Bootstrap */

/*USER*/
a.delete-user-link {display: inline-block;padding-top: 2.5em;font-size: .875em; color: #d43f3a;}
a.delete-user-link:hover{color: #d2322d;}
.pubDetail .panel-heading input{display: none;}

/*STAFF*/
figure.profile {width: 110px; height: auto;}
.staff-add h4.panel-title{font-size: 12px;}
#deptCollapse h4 {font-size: 14px;}
h5.panel-title{font-size: 14px; color: #999; padding: .5em;}
.profile-main-info .job-category label {font-weight: bold;}
.row.profile-main-info div {margin-bottom: 0;}
.profile-main-info label{font-weight: normal;}
.profile-main-info label.status {display: block; margin-top: .66em; margin-bottom: .66em;}
.profile-main-info em{display: block;}
.tab-content input {background: #fbfbfb;}
.fill {max-width: 100%;}
.de-emphasized {font-weight: normal;}
div.uploader{width:80%;}
.social-icon {margin-bottom: .5em;}
.row.top-row-name {margin-bottom: 0;}
.top-row-name label, .dept-list label {font-weight: normal;}
.top-row-name label.is-active {font-weight: bold;}
.top-row-choices {padding: 0; font-size: 13px;}
.top-row-choices .radio-inline, .top-row-choices .checkbox-inline {padding: 0;}

/*Modals */
body.modal-open {margin-right: inherit;}/*overrides a weird bootstrap margin*/
.modal-content {border-radius: 0;}
#cancelModal, #deleteModal {background-color: rgba(255,0,0,.1);}
.tab-checkbox {float: left;}
.tab-checkbox::after {float: none; clear: both;}

/* USER ADD/EDIT */
.row.top-row-username {border-bottom: 1px solid #ccc;margin-bottom: 1em;padding-bottom: 1em;}
.deactivateDelete {width: 97.5%; max-width: 130px; margin: 1.5em 0;}
.deactivateDelete .panel-body {padding: 0 15px;}
.deactivateDelete .panel .panel-heading h4 {padding-left: 1em;}
.deactivateDelete .accordion-toggle {margin-left: .25em;}
.deactivateDelete a small {color: #999; font-size: .75em;}
td.actions span:first-child{margin-right: 3em;}
html .backgrid-filter.form-search {display: inline-block;height: 3em; margin: 0; padding: 0;}
.backgrid-container button {float: right;}
.backgrid-container button:after {float: none;clear: both;}
.backgrid-container table {margin-top: 2em;}
aside.faceted-search {opacity: 1; float: left; width: 20%; height: 100%;background: #ccc; padding-top:1em;}

/*Create Groups*/
section.gridless.groups{width: calc(100% - 17.5em);border:1px solid #000;}
aside.rights-wrapper {opacity: 1;position: fixed;right:0; top: 3em; width: 17.5em; height: 100%;border:1px solid #000;overflow: scroll;}
table.rights-list {width: 100%;}
table.rights-list tr{border-bottom: 1px solid #000;cursor: move;}
article.group-accordion{}
article.group-accordion:after{float: none; clear: both;}
.rights-dropOff{height: 10em;margin: 0 auto; border: 1px solid #ccc;}
.rights-dropOff ul li{display: inline;border: 1px solid #000;}
a.rename {position: relative;top:-2em; left: 80%;}
input.group-title{border: none; cursor: pointer;}
.gridless span.sticker-label{display: inline-block; width: 100%; max-width: 50em;}
.gridless.groups .panel .panel-heading h4.panel-title {padding-left: 4.5em;}
.gridless.groups .panel-body {padding: 0 5% 5% 5%;}
input.group-name-input {display: block; width: 100%;}
.delete-group{font-size: .75em;}
.group-actions-emphasized{float:right;}

/*VALIDATION*/
/*overriding bootstrap*/
.alert {padding: 1em;margin-bottom: 1.5em; border: 1px solid red;}
.alert:focus{}
.error{border-color: red;}
.form-control.error:focus {border-color:red;}
.login-error-box{max-width: 20em;margin: 0 auto;background: red;text-align: center;color: #fff;}
.tooltip-inner{background: red;}
.error + .tooltip .tooltip-arrow {border-top-color: red;}
.tooltip.right .tooltip-arrow {border-right-color: red;}
.tooltip.left .tooltip-arrow {border-left-color: red;}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {border-bottom-color: red;}
.tooltip-inline-wrapper{display: inline;}
.help-link {display: inline-block;border:1px solid #000;border-radius: 50%; margin-left: .75em; padding: .75em;font-size: .75em; font-weight: bold;background: #fff url(../img/questionMark.jpg) no-repeat;cursor:pointer;position: relative;top:.25em;}
.helper-tip + .tooltip, .helper-tip + .tooltip .tooltip-inner, .helper-tip + .tooltip .tooltip-arrow {background: #183055; border-top-color: #183055;border-right-color: #183055;border-bottom-color:#183055; border-left-color:#183055; }

/* Asset Manager */
.element-container {max-width: 7.5em;border: 1px solid #000;background:#fff;}
.element-container .row, .element-container .image-controls div {padding: 0;margin-bottom: 0;}
.row.image-controls{margin-top: -1em;}
.element-container ul {font-size: .75em;}
.element-container ul, .element-container ul li {margin: 0;padding: 0;word-wrap:break-word;}
.element-container img {max-width: 100%;}
.image-controls a{padding: 2em;cursor: pointer;}
.element-meta-wrapper{padding: .25em;}
.control-edit {background: url(../img/presspass-icons/icon-pencil.svg) no-repeat left;}
.control-preview {background: url(../img/presspass-icons/icon-eye.svg) no-repeat right;}
.date-modified{font-style: italic; font-size: .75em;}
img.modal-preview{max-width: 100%;}
.link-preview-image{padding: 1em;cursor: pointer;}
.list-image-details {padding: 0; font-size: .9em; color: #666;}
a.link-delete {display: inline-block;padding-top: 2.5em;font-size: .875em; color: #d43f3a; float: left;}
a.link-delete:hover{color: #d2322d;}


/* -----------------------------------------
    Backgrid overrides
------------------------------------------ */

/*Backgrid in grid format*/
.table-grid {width: 100%;max-width: 60em;}
.table-grid tr {display: inline-block;border: 1px solid #ddd;}
.table-grid td {padding: .5em;}
#backgrid-container .backgrid-filter .search {top: 33%;}
.backgrid {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-radius: 4px;
    clear:both;
}

th.renderable,
td.renderable {
    display: table-cell;
    height: 20px;
    max-width: 250px;
    padding: 4px 5px;
    overflow: hidden;
    line-height: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    border-bottom: 1px solid rgb(221, 221, 221);
}

th.renderable{
    width:30%;
    background-color: rgb(249, 249, 249);
    vertical-align: bottom;
    font-weight: bold;
}

/*
  backgrid-paginator
  http://github.com/wyuenho/backgrid
  Copyright (c) 2013 Jimmy Yuen Ho Wong and contributors
  Licensed under the MIT license.
*/

.backgrid-paginator {
  text-align: center;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.backgrid-paginator ul {
  display: inline-block;
  *display: inline;
  margin: 5px 0;
  *zoom: 1;
}
.backgrid-paginator ul > li {display: inline;}
.backgrid-paginator ul > li > a,
.backgrid-paginator ul > li > span {
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
}
.backgrid-paginator ul > li > a:hover,
.backgrid-paginator ul > .active > a,
.backgrid-paginator ul > .active > span {
  background-color: #f5f5f5;
}
.backgrid-paginator ul > .active > a,
.backgrid-paginator ul > .active > span {color: #999999;cursor: default;}
.backgrid-paginator ul > .disabled > span,
.backgrid-paginator ul > .disabled > a,
.backgrid-paginator ul > .disabled > a:hover {color: #999999;cursor: default;}

/*CUSTOMIZED GRID -- default breakpoints are too wide*/

@media(max-width: 640px){
    body {font-size: 1.125em;}

    /*.backgrid-container th:nth-of-type(2),td:nth-of-type(2),th:nth-of-type(3),td:nth-of-type(3)  {display: none !important;}*/
    .backgrid.responsive-table thead{display: none;}
    .backgrid.responsive-table tr{display: inline-block;width: 48%;border: 1px solid #000;}
    .backgrid.responsive-table td{display: block;border: none;}
}






/* Very few media query overrides */



/* -----------------------------------------
   Animations
----------------------------------------- */
#page-transition{
    position:absolute;
    background-color:rgb(255, 255, 255);
    left:0;
    top:0;
    width:100%;
    height:100%; /* the 200px height was making the page REALLY tall*/
    z-index:2;
}

.pt-page-moveToLeft {
    -webkit-animation: moveToLeft .6s ease both;
    -moz-animation: moveToLeft .6s ease both;
    animation: moveToLeft .6s ease both;
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.hinge {-webkit-animation-name: hinge;animation-name: hinge;}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

.spinner {
    height:60px;
    width:60px;
    margin:0px auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}

/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {to { -webkit-transform: translateX(-100%); }}
@-moz-keyframes moveToLeft {to { -moz-transform: translateX(-100%); }}
@keyframes moveToLeft {to { transform: translateX(-100%); }}
@-webkit-keyframes hinge {
    0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
    20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
    40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
    80% { -webkit-transform: rotate(60deg) translateY(0); opacity: 1; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
    100% { -webkit-transform: translateY(700px); opacity: 0; }
}
@keyframes hinge {
    0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }
    20%, 60% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }
    40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }
    80% { transform: rotate(60deg) translateY(0); opacity: 1; transform-origin: top left; animation-timing-function: ease-in-out; }
    100% { transform: translateY(700px); opacity: 0; }
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}