* {-moz-box-sizing: border-box;box-sizing: border-box;}

.flexgrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}





.box-row,
.box-first,
.box-nested,
.box-large,
.box {
  position: relative;
  min-height: 1rem;
  margin-bottom: 0;
  background: #007FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: white;
}

.box-row {
  margin-bottom: 1rem;
}

.box-first {
  background: #0066CC;
  border-color: #007FFF;
}

.box-nested {
  background: #003366;
  border-color: #007FFF;
}

.box-large {
  height: 8rem;
}



.tag {
  color: #000;
  font-weight: normal;
}

.end {
  text-align: end;
}
