@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

body{font-size: 1em; font-family: 'Roboto-Regular';height: 500px;overflow: hidden;}

.kickstarter-logo{position: fixed; top: 0;right: 0;z-index: 50;}
header {}

nav {}
nav.triMenu svg {fill: #000;}
nav.triMenu svg polygon {transition: all .5s;-webkit-transition: all .5s;}
nav.triMenu svg polygon:hover {fill: transparent;stroke-width: 2.5; stroke: #555;cursor: pointer;}
#triTR:hover{fill: #000;stroke-width: 0;}
svg.climate1000-logo{width: 50%;max-width: 30em;}
article.logo-container {text-align: center; padding-top: 2em;}
svg.triangleTopLeft {position: fixed; top: 0; left: 0;}
svg.triangleTopRight {position: fixed; top: 0; right: 0;}
svg.triangleBotLeft {position: fixed; bottom: 0; left: 0;}
svg.triangleBotRight {position: fixed; bottom: 0; right: 0;}

#kickstarterLogo{fill: #D9D9DE;}
#kickstarterLogo:hover{cursor: pointer;}
.on {fill: red;}
aside {padding: 4em; font-family: sans-serif;}
aside p{max-width: 40em;margin: 1.5em auto 0;}
.info {width: 50%; max-width: 40em;transition: all .5s;-webkit-transition: all .5s;}
.inFrame {position: fixed; height: 100%;width: 100%; background: rgba(0,0,0,.9);z-index: 99;color:#fff;}

#who {z-index: -99;position: relative;top:-2000px;left:-2000px;}
#who.inFrame, #what.inFrame,#where.inFrame,#when.inFrame {position: fixed; top: 0; left: 0;z-index: 99;}

#what{z-index: -98;position: relative;top:-2000px;right:-2000px;}
/*#what.inFrame {position: fixed; top:0;left:0;}*/

#where{z-index: -97;position: relative;bottom:-2000px;left:-2000px;}
/*#where.inFrame {position: fixed; width: 50%; top: 25%; left: 25%;background: red;z-index: 99;}*/

#when{z-index: -96;position: relative;bottom:-2000px;right:-2000px;}
/*#when.inFrame {position: fixed; width: 50%; top: 25%; left: 25%;background: red;z-index: 99;}*/

/* TABS & MODAL a la Pure CSS Components - http://www.felipefialho.com/css-components/
Author: Luiz Felipe Tartarotti Fialho
*/
.tab {position: relative;}
.tab-painel {display: inline-block;min-height: 10em;}
.tab-nav {border: #aaaaaa solid 1px;cursor: pointer;display: inline-block;}
.tab-nav:hover,.tab-open:checked ~ .tab-nav {background-color: #666;}
.tab-inner {
  opacity: 0;
  margin-top: 1em;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  visibility: hidden;
}
.tab-open:checked ~ .tab-inner {opacity: 100;visibility: visible;}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}
.modal:target:before {display: block;}
.modal:target .modal-dialog {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #555555 solid 1px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  z-index: 1111;
  width: 80%;
  max-width: 600px;
}
.modal-body {padding: 1em;}
.modal-body p {margin: 0;}
.modal-header,.modal-footer {padding: 1em;}
.modal-header {border-bottom: #eeeeee solid 1px;}

.modal-footer {border-top: #eeeeee solid 1px;text-align: right;}


@media only screen and (min-width: 50em) {}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
}

