html {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {-moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit;}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
/*I like to make default font-size explicit, and then to base ems off of it*/
body{font-size: 14px; font-family: 'Roboto-Regular';text-rendering: optimizeLegibility;}

main {font-size: 1em; line-height: 1.5em;}

header {}

nav {}

article {}

section{}

aside {}

footer{}







/*pseduo*/
:link{}
:hover{}
:focus{}
:active{}
:visited{}
:target{}
::selection,::-moz-selection {}



a{text-decoration: none;}

button{}
p{}

span{}

h1, h2, h3, h4, h5, h6{}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

ol{}
ul{}
li{}
menu{}
menuitem{}
dl{}
dd{}


/*formatting*/
b{}
i{}
em{}
strong{}
small{}
u{}
s{}
pre{}
code{}


/*media*/
figure {}
img {}
figcaption{}
video{}
audio{}
iframe{}
track{}
var{}


/*  forms */
form{}
fieldset{}
input {}
label {}
select {}
:valid{}
:invalid, :-moz-submit-invalid{}
:required{}
:optional{}
:checked{}
:enabled{}
:default{}
:disabled{}
:out-of-range{}
:in-range {}
:-moz-read-write, read-write {}
:indeterminate {}
progress{}
textarea{}
input[type="radio"] {}
input[type="checkbox"] {}
optgroup{}



q{}
blockquote{}
details{}
dialog{}
legend {}
summary {}


/* tables */
table {}
caption{}
tbody{}
th{}
tr{}
td{}
tfoot{}
:empty{}
col{}
colgroup{}


svg{}


br{}
hr{}


sup{}
sub{}


/*template{}
content{}
decorator{}
element {}
shadow {}*/

address{}
time{}

data{}




/* TABS & MODAL a la Pure CSS Components - http://www.felipefialho.com/css-components/
Author: Luiz Felipe Tartarotti Fialho
*/
.tab {position: relative;}
.tab-painel {display: inline-block;min-height: 10em;}
.tab-nav {border: #aaaaaa solid 1px;cursor: pointer;display: inline-block;}
.tab-nav:hover,.tab-open:checked ~ .tab-nav {background-color: #666;}
.tab-inner {
  opacity: 0;
  margin-top: 1em;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  visibility: hidden;
}
.tab-open:checked ~ .tab-inner {opacity: 100;visibility: visible;}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}
.modal:target:before {display: block;}
.modal:target .modal-dialog {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #555555 solid 1px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: -100%;
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  z-index: 1111;
  width: 80%;
  max-width: 600px;
}
.modal-body {padding: 1em;}
.modal-body p {margin: 0;}
.modal-header,.modal-footer {padding: 1em;}
.modal-header {border-bottom: #eeeeee solid 1px;}

.modal-footer {border-top: #eeeeee solid 1px;text-align: right;}


@media only screen and (min-width: 50em) {}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
}

