.header {background-color: #000;}
.header--fixed {position: fixed;z-index: 10;right: 0;left: 0;top: 0;}
.slide {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.slide--reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.slide--up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideDown {
    0% {-webkit-transform: translateY(-100%);}
    100% {-webkit-transform: translateY(0);}
}

@-moz-keyframes slideDown {
    0% {-moz-transform: translateY(-100%);}
    100% {-moz-transform: translateY(0);}
}

@keyframes slideDown {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    animation-name: slideDown;
}

@-webkit-keyframes slideUp {
    0% {-webkit-transform: translateY(0);}
    100% {-webkit-transform: translateY(-100%);}
}

@-moz-keyframes slideUp {
    0% {-moz-transform: translateY(0);}
    100% {-moz-transform: translateY(-100%);}
}



@keyframes slideUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-100%);}
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    animation-name: slideUp;
}