.has-counter button.btn.btn-empty {opacity: .6;}

.has-counter button.btn.btn-empty:hover, .has-counter button.btn.btn-empty:hover {
  cursor: default;
}

.has-counter .btn.btn-info {
  text-align: center;
  background: #3498DB;
  border: 1px solid #3498DB;
  color: white;
}

.has-counter .btn-info:hover,
.has-counter .btn-info:active {
  background: white;
  color: #3498DB;
}

.has-counter .success {color: #03A678; }

.has-counter .warning {color: orange;}

.has-counter .alert {color: red;}

.has-counter button:disabled {
  background: white !important;
  color: #999 !important;
  border: 1px solid #999 !important;
  cursor: not-allowed;
}

.has-counter .ninja-panel {
  width: 20%;
  font-weight: 700;
  position: fixed;
  right: 0;
  margin-right: 2%;
  color: #3498DB;
}

.has-counter p#ninja-text {
  position: relative;
  padding: 2%;
  font-size: 1em;
  text-align: center;
  opacity: .6;
}

